body { color: #fff !important; background-color: #000 !important; }

.Transparent,.Transparent2 {background : url(transparent-bg.png);
                 padding-left : 5px;
                 padding-right : 5px;
                 padding-top : 5px;
                 padding-bottom : 5px;
                 
          border-radius: 4px;
  
                 }
 
.alert-info { background : url(transparent-bg.png) !important; }
.modal { background-color: #000 !important; }
.add-on { color: #000 !important; }




