.myhide { display:none; }
.kontejnerodfiksiranoghedera { padding-top : 5px; padding-bottom : 5px; }
.mojpanel {padding-bottom : 15px !important;  }
.iznoszanaplatu { font-weight : bold; }
.kvadraticzarobu, .kvadraticzastavke { margin-top : 5px; overflow : hidden; cursor : pointer; height: 100%; }
.nekikvadratic{  margin-top : 5px; overflow : hidden; cursor : pointer; }
.nekikvadraticbezpointera{  margin-top : 0px; overflow : hidden; height : 100%; display : block; }
.mojtextarea { height : 3em; font-size : 18px; }
 .errordescription {font-size : 18px; }

.navbar-brand { line-height: 15px; }

.mojakolona.col-xs-1,
.mojakolona.col-xs-2,
.mojakolona.col-xs-3,
.mojakolona.col-sm-3,
.mojakolona.col-sm-4,
.mojakolona.col-sm-6,
.mojakolona.col-xs-4,
.mojakolona.col-xs-5,
.mojakolona.col-xs-6,
.mojakolona.col-xs-7,
.mojakolona.col-xs-8,
.mojakolona.col-xs-12,
.mojakolona.col-xs-11,
.mojakolona.col-xs-9,
.mojakolona.col-xs-10
 {
  padding-right: 3px !important;
  padding-left: 3px !important;
  
}

 

.btn-black {
  color: #fff;
  background-color: #373636;
  border-color: #6c6a6a;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}