
.mybigiconOLD [class^="glyphicon-"] { font-size: 24px; }

.myhide { display:none; }

.kontejnerodfiksiranoghedera { padding-top : 10px; padding-bottom : 10px;
}
.mojpanel {padding-bottom : 30px !important;
}

.btn-large {
font-size: 16px !important;
}

.kvadraticzarobu {  margin-top : 10px;
                    overflow : hidden; 
                    cursor : pointer;
                }

.nekikvadratic{  margin-top : 10px;
                    overflow : hidden; 
                    cursor : pointer;
                }
#searchproductstext {  height : 2.4em;
                        font-size : 22px;
                    }

.mojtextarea {   height : 3em;
                        font-size : 24px;
                    }

#themelist{  margin-top : 10px; }



.mojakolona.col-1,
.mojakolona.col-2,
.mojakolona.col-3,
.mojakolona.col-4
 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}