body { color: #06034a !important; background-color: #fff !important; }

.Transparent,.Transparent2 {background : url(wash-white-30.png);
                 padding-left : 5px;
                 padding-right : 5px;
                 padding-top : 5px;
                 padding-bottom : 5px;
                 
                 border-radius: 4px;
                
                 }
 
.alert-info { background : url(wash-white-30.png) !important; }
.modal { background-color: #fff !important; }
.add-on { color: #fff !important; }